@import "http://webfonts.ru/import/america.css";
body, html {
	margin:0;
	height: 100%;
	width: 100%;
}

::-webkit-scrollbar { 
    display: none; 
}

h1 {
	font-family: 'America XIX';
	font-size: 24pt;
	font-weight: normal;
}

body {
	-webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

p {
	font-family: 'Work Sans', sans-serif;
}

a {
	text-decoration: none;
	border-bottom: 1px solid black;
	padding-bottom: 2px;
	color: black;
}

.scrolling-content {
	text-align: center;
}

.logo{
	position: fixed;
	width: 80px;
	left: 20px;
	top: 20px;
	z-index: 565656;
}

.project-container {
	position: relative;
	font-family: 'Work Sans', sans-serif;
	font-size: 8pt;
	margin-bottom:10vw;
	line-height: 18px;
	/*height: 100%;*/
	max-width: 700px;
	display:inline-block;
	margin: 0 120px;
	text-align: left;
	/*padding: 10%;*/
}

.project-container .project-img:first-of-type {
	margin-top: 50px;
}

.project-container .project-img:last-of-type {
	margin-bottom: 20vw;
}

.project-container:nth-of-type(2) .project-img:first-of-type{
	margin-bottom: 10vw;
	opacity: 1;
}

.project-container:last-of-type .project-img:first-of-type{
	margin-bottom: 10vw;
	opacity: 1;
}

.project-img {
	width: 100%;
	margin: 10vw 0;
	opacity: 1;
	cursor: zoom-in;
	/*box-shadow: 10px 10px 100px 5px #606060;*/
}

.project-title {
	position: relative;
	padding-top: 70px;
	line-height: 250%;
}

.project-title .title {
	position: relative;
	font-family: 'America XIX';
	font-size: 19px;
}

.project-title .subtitle {
	position: relative;
	font-family: 'Work Sans', sans-serif;
	font-size: 19px;
}

.project-description {
	font-family: 'America XIX';
	position: relative;
	padding-top: 25px;
	font-size: 19px;
}

.project-date {
	position: relative;
}


nav {
	position: fixed;
/*	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	 transform: rotate(-90deg);*/
	z-index: 565656;
	bottom: 20px;
	left: 28px;
}

.work {
	margin-left: 50px;
}

.nav-item {
	border-bottom: 0px solid black;
	font-family: 'Work Sans';
	font-size:35px;
	padding-bottom:3px;
	display:inline-block;
	cursor: pointer;
}

aside {
	font-family: 'Work Sans';
	z-index: 565656;
}

#communications {
	width: 500px;
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	 transform: rotate(90deg);
	position: fixed;
	top: 275px;
	right:-205px;
}

#talk2us {
	width: 200px;
	position: fixed;
	bottom: 30px;
	right: 35px;
	text-align: right;
	line-height: 160%;
}

#lightbox {
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	position: fixed;
	top: 0;
	left: 0;
	z-index:565657;
	display: none;
	cursor: zoom-out;
	-webkit-cursor:zoom-out;
}

#view-img {
	height: 50vw;
	width: 80vw;
	background-size: cover;
	background-position: 0 0;
	background-repeat: no-repeat;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%,-50%);
}

@media screen and (max-height: 550px) {
	#talk2us{
		display: none;
	}
}

@media screen and (max-width: 900px) {
	.project-container {
		margin: 0 0;
	}

	aside {
		display: none;
	}

	.project-title {
		margin: 0 27px;
		padding-top: 110px;
	}

	.project-description {
		margin: 0 27px;
	}

	.project-container .project-img:first-of-type {
		margin-top: 50px;
	}

	.project-container .project-img:last-of-type {
		margin-bottom: 16vw;
	}

	.project-container:nth-of-type(2) .project-img:first-of-type{
		margin-bottom: 8vw;
		opacity: 1;
	}

	.project-container:last-of-type .project-img:first-of-type{
		margin-bottom: 8vw;
		opacity: 1;
	}

	.project-img {
		margin: 8vw 0;
	}

}